@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<main role="main" class="inner cover">
    <form method="post">
        <div class="row">
            <div class="col-lg-6 col-12 offset-lg-3">
                <h1>@ViewData["Title"]</h1>
                <h2>Enter your email.</h2>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col text-start">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </div>
        <div class="col-lg-6 offset-lg-3 col-12s">
            <div class="mb-3 text-start">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3 text-start">
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-success">Reset Password</button>
            </div>
        </div>
    </form>
</main>
@*<h1>@ViewData["Title"]</h1>
    <h2>Enter your email.</h2>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating">
    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
    <label asp-for="Input.Email" class="form-label"></label>
    <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
    </form>
    </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}