@page
@model RegisterModel
<main role="main" class="inner cover">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="row justify-content-center">
            <div class="row">
                <div class="col">
                    <h2>Create a new account to start tracking your stats</h2>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col text-start">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="mb-3 text-start">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3 text-start">
                    <label asp-for="Input.DisplayName"></label>
                    <input asp-for="Input.DisplayName" class="form-control"  aria-required="true"/>
                    <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                </div>
                <div class="mb-3 text-start">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3 text-start">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-3 text-start">
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success">Register</button>
                </div>
            </div>
        </div>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}