@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
    background-image: linear-gradient(#111, #555);
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
}

header {
    padding-top: 1em;
    padding-bottom: 1em;
}

.inner {
    text-align: center;
}

.cover-container {
    max-width: 55em;
    min-width: 55em;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cover-container::-webkit-scrollbar {
    display: none;
}

.fixed-top {
    top: 5em;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: transparent;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: #ffffff;
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
}

.active {
    border-bottom: 2px solid #ffffff;
}

.form-select {
    background-color: #1d1d1d;
    color: #ffffff;
}

.stats h2 {
    padding: 0;
    margin: 0;
}

.stats p {
    font-size: 0.6rem;
    padding: 0;
    margin: 0;
}

.accordion-on {
    display: none;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

@media (max-width: 25em) {
    .cover-container {
        max-width: 18em;
        min-width: 18em;
        margin: 0;
    }

    .navbar-brand {
        font-size: 1.2em;
    }

    nav .collapse {
        top: 3.3rem;
        right: 0.8rem;
    }
}

@media (min-width: 25.01em) and (max-width: 30em) {
    .cover-container {
        max-width: 22em;
        min-width: 22em;
    }

    nav .collapse {
        top: 3.25rem;
        right: 0.7rem;

    }
}

@media (max-width: 30em) {
    nav .collapse {
        background-image: linear-gradient(#333,#777);
        position: absolute;
        width: 50%;
        border-radius: 1em 0 1em 1em;
        z-index: 1;
    }

}

@media (min-width: 35em) {
    .cover-container {
        max-width: 38em;
        min-width: 38em;
    }
}

@media (min-width: 60em) {
    .cover-container {
        max-width: 55em;
        min-width: 55em;
    }

    .collapse {
        display: block !important;
    }

    .navbar-nav {
        flex-direction: row;
    }
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, 0.5);
}

.hide {
    display: none;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

